<!--<div class="jumbotron available-flights">-->
<div class="container available-flights">
  <h4>
    <%= @dep_name %> - <%= @arr_name %>
  </h4>
  <%= form_tag choose_flight_path, remote: true, id: 'flights-form' do %>
    <% @flights.each_with_index do |flight, i| %>
    <% end %>
    <input type="text" name="price" id="price" hidden>
    <table class="table table-striped">
      <thead>
      <tr class="d-flex">
        <th class="col-1"></th>
        <th class="col-2">Carrier</th>
        <th class="col-2">Flight No.</th>
        <th class="col-1">Departure</th>
        <th class="col-1">Arrival</th>
        <th class="col-1">Aircraft</th>
        <th class="col-4">Price</th>
      </tr>
      </thead>
      <tbody>
      <% @flights.each_with_index do |flight, i| %>
        <% price = number_with_delimiter(sprintf('%.2f', rand(300..2000)), :delimiter => ',') %>
        <tr class="d-flex">
          <td class="flight-select-radio col-1">
            <input type="radio" name="selected-flight" value="<%= flight.id %>" data-price="<%= price %>" <%= "checked" if i == 0 %> >
          </td>
          <td class="col-2"><%= flight.carrier.name %></td>
          <td class="col-2"><%= flight.carrier.iata_code %><%= flight.flight_no %></td>
          <td class="col-1"><%= flight.etd.strftime("%H:%M") %></td>
          <td class="col-1"><%= flight.eta.strftime("%H:%M") %></td>
          <td class="col-1"><%= flight.aircraft_type %></td>
          <td class="col-4">$ <%= price %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%#= @flights.inspect %>
    <% if @flights.count > 0 %>
      <%= submit_tag 'Passenger\'s Details', class: 'btn btn-info float-right' %>
      <%#= link_to 'Traveller Details', passenger_path, remote: true, class: 'btn btn-info float-right' %>
    <% end %>
  <% end %>
</div>
