<div class="container passenger-details">
  <h4>
    Passenger Details
  </h4>
  <hr>
  <!--  <form>-->
  <%= simple_form_for @passenger, url: passenger_path, remote: true do |f| %>
    <%= f.input :name, as: :string %>
    <%= f.input :dob, label: 'Date of birth:', as: :date, start_year: Date.today.year - 100,
                end_year: Date.today.year - 12 %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :passport_no, label: 'Travel document number:', as: :string %>
      </div>
      <div class="col-sm-6">
        <%= f.input :passport_country, collection: @countries, label: 'Issued by:' %>
      </div>
    </div>
    <%= f.input :email, label: 'E-mail:', as: :email %>
    <%= f.input :phone, label: 'Contact number:', as: :tel %>
    <%= f.submit 'Choose Flight', name: 'nav_back', class: 'btn btn-info float-left' %>
    <%= f.submit 'Checkout', class: 'btn btn-info float-right' %>

  <% end %>
  <!--  </form>-->
</div>
