<%= render partial: 'nav' %>

<div class="container-fluid d-flex h-100 flex-column main-content">
  <div class="row bg-light flex-fill d-flex h-100 justify-content-start">
    <div class="col-lg-12 text-center">
      <div class="container main-container flex-fill d-flex h-100">
<!--        <h1>Welcome to Hoot Holiday!</h1>-->
        <div class="container flex-fill d-flex h-100">
          <div class="row flex-fill d-flex h-100">
            <div class="col-sm-4">
              <%= form_with url: search_path, method: :get, remote: true, html: {class: ''}, id: 'query-form' do |form| %>

                <div class="form-group flights-search-form mx-auto">
                  <div class="container">
                    <div class="row d-flex align-items-center">
                      <div class="col-sm-4 text-right">
                        <%= form.label :dep, 'Departure:' %>
                      </div>
                      <div class="col-sm-8">
                        <%= form.text_field :dep, label: 'Departure', placeholder: 'Type to search', data: {behavior: 'autocomplete'}, class: 'form-control' %>
                      </div>
                    </div>

                    <div class="row d-flex align-items-center">
                      <div class="col-sm-4 text-right">
                        <%= form.label :arr, 'Arrival:' %>
                      </div>
                      <div class="col-sm-8">
                        <%= form.text_field :arr, label: 'Arrival', placeholder: 'Type to search', data: {behavior: 'autocomplete'}, class: 'form-control' %>
                      </div>
                    </div>

                    <div class="row d-flex align-items-center">
                      <div class="col-sm-4 text-right">
                        <%= form.label :date, 'Date:' %>
                      </div>
                      <div class="col-sm-8">
                        <%= form.text_field :date, label: 'Date', data: {provide: 'datepicker'}, class: 'form-control' %>
                      </div>
                    </div>

                    <div class="row d-flex align-items-center">
                      <div class="col-sm-4 text-right">
                      </div>
                      <div class="col-sm-8">
                        <%= form.submit 'Search', class: 'btn btn-info form-control ml-0' %>
                      </div>
                    </div>

                  </div>
                </div>
              <% end %>

            </div>
            <div class="col-sm-8 right-panes">
              <div id="background-holder" class="pane">
                <%= image_tag "landmark-human-settlement-skyline-for-new-year-5db7ae004e7f88.47665242.png", class: 'cover-image' %>
              </div>
              <div id="search-results" class="pane"></div>
              <div id="passenger-details" class="pane"></div>
              <div id="payment-details" class="pane"></div>
              <div id="preview-trip" class="pane"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>