<h1>Welcome to Hoot Holiday!</h1>
<%= form_with url: search_path, local: true, method: :get, html: {class: 'form-inline'} do |form| %>
  <div class="form-group flights-search mx-auto">
    <%= form.label :dep, 'Departure:' %>
    <%= form.text_field :dep, label: 'Departure', placeholder: 'Search', data: {behavior: 'autocomplete'}, class: 'form-control' %>
    <%= form.label :arr, 'Arrival:' %>
    <%= form.text_field :arr, label: 'Departure', placeholder: 'Search', data: {behavior: 'autocomplete'}, class: 'form-control' %>
    <%= form.button 'Search', class: 'form-control' %>
  </div>
<% end %>
